<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Create a new Student</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--Comunmente usar grid para el formulario
    Cada componente tiene un archivo de module, para importar los module que se usan
    Si quiere añadir uno, hacer dentro del archivo module.ts del componente
    Poner modules en root puede ser pesado para rendimiento
  -->

  <ion-grid>
    <!--Crear enlace html con formulario, como myform es variable, poner atributo en corchetes-->
    <form [formGroup]="myForm">
      <!--Un row para cada input-->
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="floating">Número de Control</ion-label>
            <!--Ligar input con valor de entrada, debe tener mismo nombre-->
            <ion-input formControlName="controlnumber"></ion-input>
            <!--Mensaje de validacion-->
            <div><!--Recorrer mensajes de error-->
              <ng-container *ngFor="let item of validationMessage['controlnumber']">
                <div class="errorMessage">
                  {{}}
                </div>
              </ng-container>
            </div>
          </ion-item>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
